{% extends 'base.html.twig' %}

{% block title %}{{ parent()}}Modifier votre mot de passe {%endblock%}

{% block body %}
	<h2 class="my-4">Modifier votre mot de passe</h2>

	{{ form(password_form) }}
{% endblock %}